modules = ["nodejs-20", "web"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Development Mode"

[[workflows.workflow]]
name = "Preview Mode"
author = 44232924
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build && cd \"Replit Preview\" && npm install && npm run start"

[[workflows.workflow]]
name = "Start Preview Server"
author = 44232924
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd \"Replit Preview\" && tsx server-preview.ts"

[[workflows.workflow]]
name = "Development Mode"
author = 44232924
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[ports]]
localPort = 3001
externalPort = 80
exposeLocalhost = true
